.end-cont {
  width: 100%;
  height: 200px;
  background-color: #303132;
  margin-top: 50px;
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 180px;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .end-cont {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}
.end-cont .link-cont {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.end-cont .link-cont p {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 15px;
  font-family: sans-serif;
  padding: 30px 5px;
  letter-spacing: 0.2rem;
  text-align: center;
}
@media screen and (max-width: 834px) {
  .end-cont .link-cont p {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  .end-cont .link-cont {
    width: 100%;
  }
}
.end-cont .link-cont .link-child a {
  color: #fff;
  padding: 8px;
}
@media screen and (max-width: 834px) {
  .end-cont .link-cont .link-child img {
    width: 23px;
    height: 23px;
  }
}
.end-cont .input-cont {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.end-cont .input-cont p {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 15px;
  font-family: sans-serif;
  padding: 30px 5px;
  letter-spacing: 0.2rem;
  text-align: center;
}
@media screen and (max-width: 834px) {
  .end-cont .input-cont p {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  .end-cont .input-cont {
    width: 80%;
  }
}
.end-cont .input-cont .input-child {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.end-cont .input-cont .input-child input {
  width: 100%;
  height: 35px;
  background-color: #D3D3D3;
  margin-bottom: 5px;
  outline: none;
  padding-left: 5px;
}
@media screen and (max-width: 600px) {
  .end-cont .input-cont .input-child input {
    height: 35px;
  }
}
.end-cont .input-cont .input-child button {
  width: 100%;
  height: 35px;
  background-color: #D3D3D3;
  color: #303132;
  outline: none;
}
@media screen and (max-width: 600px) {
  .end-cont .input-cont .input-child button {
    height: 35px;
  }
}
.end-cont .help-info-cont {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.end-cont .help-info-cont p {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 15px;
  font-family: sans-serif;
  padding: 30px 4px;
  letter-spacing: 0.2rem;
  text-align: center;
}
@media screen and (max-width: 834px) {
  .end-cont .help-info-cont p {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  .end-cont .help-info-cont {
    width: 100%;
  }
}
.end-cont .help-info-cont span {
  color: rgba(255, 255, 255, 0.5019607843);
  text-decoration: none;
  font-size: 13px;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  padding: 5px;
}
@media screen and (max-width: 834px) {
  .end-cont .help-info-cont span {
    font-size: 11px;
  }
}
.end-cont .help-info-cont a {
  color: rgba(255, 255, 255, 0.5019607843);
  text-decoration: none;
  font-size: 13px;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 834px) {
  .end-cont .help-info-cont a {
    font-size: 11px;
  }
}/*# sourceMappingURL=end.css.map */