$myColor: #303132;
$breakpoints_tablet: 834px;
$breakpoints_phone: 375px;

.Shop{
    width: 100%;
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        font-size: 19px;
        font-family: sans-serif;
        letter-spacing: 0.3rem;
        color: $myColor;
        padding-top: 30px;
    }
    .shop-cont{
        padding-top: 100px;
        width: 80%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        row-gap: 180px;
        @media screen and (max-width: 1000px) {
            grid-template-columns: auto auto auto;
        }
        @media screen and (max-width: $breakpoints_tablet) {
            grid-template-columns: auto auto;
        }
        
        @media screen and (max-width: 400px) {
            grid-template-columns: auto ;
        }

        .shop-child{
            width: 220px;
            height: 220px;
            padding: 30px;
            position: relative;
            
            img{
                width: 100%;
                height: 100%;
            }
            .shop-info{
                color: $myColor;
                font-size: 15px;
                font-family: sans-serif;
                position: absolute;
                bottom: -115px;
                p{
                    padding: 10px 0;
                }
                button{
                    margin-top: 5px;
                    padding: 5px 10px;
                    background-color: $myColor;
                    color: #fff;
                    font-family: sans-serif;
                }
            }

        }
    }
    
}